.body1{
    background-color: rgb(3, 216, 134);
    text-align: center;
    font-family: Arial;
    font-size: 2rem;
}

header{
    color: white;
}

section{
    background-color: white;
    text-align: center;
    width: 30vh;
    padding: 2%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0b0b0b;
}

.body2{
    background-color: rgb(3, 216, 134);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-family: Arial;    
}

.num{
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    width: 15vh;
}

.slc1{
    border-radius: 10px;
    background-color: rgb(3, 216, 134);
    color: white;
    font-size: 1.5rem;
    width: 40%;
    text-align: center;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.slc1:hover, #confirmar:hover{
    background-color: rgb(0, 255, 157);
}

#confirmar{
    margin-top: 10%;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgb(3, 216, 134);
    color: #fff;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

footer{
    color: white;
}