@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f7fa;
    overflow-x: hidden;
}

header {
    background-color: #2c3e50;
    padding: 10px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
}

.header-container button {
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #34568B;
    color: #fff;
    border: #6fa8dc solid 3px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.header-container button:hover {
    background-color: #6fa8dc;
    color: #fff;
}

.texto {
    background-color: #34568B;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 40px;
}

#php-part {
    background-color: #fff;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.php-listar, .php-inserir, .php-alterar{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    visibility: hidden;
    justify-content: center;
    text-align: center;
    align-content: center;
    opacity: 0;
    height: 50vh;
    width: 50vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #2c3e50;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #34568B;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input[type="submit"] {
    padding: 10px;
    background-color: #34568B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #6fa8dc;
}

.php-listar button, .php-inserir button, .php-alterar button{
    background-color: #34568B;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

.php-listar button:hover, .php-inserir button:hover, .php-alterar button:hover{
    background-color: #6fa8dc;
}

#tabela {
    height: 5vh;
    width: 10vh;
    background-color: #34568B;
    color: #fff;
    border: #2c3e50 1px solid;
    border-radius: 10px;
    margin-bottom: 35px;
    transition: 500ms ease-in-out;
}

#tabela:hover {
    background-color: #6fa8dc;
}

footer {
    margin-top: 30.5%;
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    justify-content: end;
    align-items: end;
    position: relative;
    margin: 0;
}